In [8]:
import pandas as pd
data = {'Name':['Tom', 'Brad'],
        'Phone_and_zipcode':['205-555-55-55, 95000', '207-777-77-77, 97000'],
        }

df = pd.DataFrame(data)

In [9]:
df

   Name     Phone_and_zipcode
0   Tom  205-555-55-55, 95000
1  Brad  207-777-77-77, 97000

In [10]:
data2 = {'Name':['Tom', 'Brad'],
        'Phone':['205-555-55-55', '207-777-77-77'],
         'Zipcode': ['95000', '97000']
        }

df2 = pd.DataFrame(data2)

In [11]:
df2

   Name          Phone Zipcode
0   Tom  205-555-55-55   95000
1  Brad  207-777-77-77   97000